<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me!</h2>
                <hr class="light">
                <p class="text-faded">I am a graduate in Mathematics at the Central University of Venezuela and I am currently in the last year of the master's degree in Random Models at the same university. I work in the area of ​​statistics and data sciences applying various technologies such as R, Python and Excel, in addition to applying statistical models and machine learning algorithms. </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Services</a>
            </div>
        </div>
    </div>
</section>
